*{
  box-sizing: border-box;
  font-family:  'Poppins', sans-serif;
  text-decoration: none;
}
body{
  margin: 50px;
}
#title{
  font-weight: bold;
  color: #EDB574;
  font-size: 1.50em;
}
.home{
  float: right;
  margin-top: 40px;
  font-weight: normal;
  margin-right: 5px;
  color: #EDB574;
  font-size: 1.0em;
  font-size: x-large;
}

 #fabby{
 	font-style: italic;
 	color: #659CA3;
 }
 #team{
 	font-style: normal;
 	color: #283040;
 }
}
.container{
font-size: x-large;
}

.heading{
  color: #283040;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 2.0em;
}

.row{
  width: 100%;
}

.thing1,
.thing2,
.thing3,
.thing4{
  padding: 10px;
  float:left;
  font-weight: lighter;
}

.description{
  color: #283040;
  background-color: #F8F8FF;
  border-radius: 10px;
  border: 3px solid #659CA3;
  padding: 10px;
  text-align: center;
}




/***Desktop View***/
@media (min-width: 992px){
.thing1,
.thing2,
.thing3,
.thing4{
    width: 25%;
  }
}

/***Tablet View***/
@media (min-width: 768px) and (max-width: 991px){
.thing1,
.thing2,
.thing3,
.thing4{
    width: 50%;
  }
}

/***Mobile View***/
@media (max-width: 767px){
.thing1,
.thing2,
.thing3,
.thing4{
    width: 100%;
  }
}