*{
  box-sizing: border-box;
  font-family:  'Poppins', sans-serif;
  text-decoration: none;
  font-size: x-large;
}
body{
  margin: 70px;
}

.container{
	padding-bottom: 0px;
}
#title{
  font-weight: bold;
  color: #EDB574;
  font-size: 1.50em;
  padding-bottom: 0px;
}
.home{
  float: right;
  margin-top: 37px;
  font-weight: normal;
  margin-right: 5px;
  color: #EDB574;
  font-size: 1.0em;
  }
 #fabby{
 	font-style: italic;
 	color: #659CA3;
 	text-shadow: 2px 2px #D3D3D3;
 	font-style: bold;
 }
 #team{
 	font-style: italic;
 	color: #659CA3;
 	text-shadow: 2px 2px #D3D3D3;
 	font-style: bold;
 	font-style: italic;
}
.heading{
  color: #283040;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: lighter;
  font-size: 2.5em;
  padding-top: 0px;
  margin: 0px;
}

.row{
  width: 100%;
  padding-top: 0px;
}

.thing1,
.thing2,
.thing3,
.thing4{
  padding: 0px;
  float:left;
  font-weight: lighter;
}

.description{
  color: #283040;
  background-color: #F8F8FF;
  border-radius: 10px;
  border: 3px solid #659CA3;
  padding: 5px;
  text-align: center;
  width: 320px;
  height:450px;
}
#names{
	font-style: italic;
	text-shadow: 2px 2px #659CA3;
}

#major{
	font-size: .50em;
}

#deets{
	font-size: .75em;
}




/***Desktop View***/
@media (min-width: 992px){
.thing1,
.thing2,
.thing3,
.thing4{
    width: 25%;
  }
}

/***Tablet View***/
@media (min-width: 768px) and (max-width: 991px){
.thing1,
.thing2,
.thing3,
.thing4{
    width: 50%;
  }
}

/***Mobile View***/
@media (max-width: 767px){
.thing1,
.thing2,
.thing3,
.thing4{
    width: 100%;
  }
}